matplotlib==3.3.4
MulticoreTSNE==0.1
numpy==1.16.4
opencv-python==4.2.0.34
pathtools==0.1.2
scikit-image==0.17.2
torch==1.7.0+cu110
torchsummary==1.5.1
torchvision==0.8.1
torchviz==0.0.1
umap==0.1.1
wandb==0.10.30
